videogular vg-cuepoints {
	position: relative;

	display: block;
	width: 100%;
	height: 0px;
}

videogular vg-cuepoints vg-cuepoint {
	position: absolute;
	top: -6px;

	display: block;
	width: 9px;
	height: 9px;
	border-radius: 35%;

	background-color: #666;
}
